@import url(style.css);

/* **********************************************
    Base Declarations
********************************************** */
body{
    margin: 0;
}

main {
    padding: 20px;
    background: var(--grey-lighter);
}

.border{
    border-bottom: 6px solid var(--purple-primary);
    width: 6rem;
    margin-top: 12px;
    margin-bottom: 24px;
}

.about h2{
    font-size: 24px;
}

.about p{
font-size: 16px;
}

section{
    margin-bottom: 52px;
}

/* **********************************************
    Main Declarations
********************************************** */

/************* Hero Section ********************/
#h1_webridge{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 8px;
    position: absolute;
    z-index: 2;
    top: 95px;
}

.h1_vol_org{
    font-size: 7vw;
    font-weight: 700;
    margin: 0;
}

#h1_vol,
#h1_org{
    text-align: center;
}

.circle{
    height: 60vw;
    width: 60vw;
    border-radius: 50%;
    margin: auto;
}

#circle1{
    background-color: var(--yellow-light);
}

#circle2{
    background-color: var(--purple-light);
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#circle1 {
  transform: translateY(0); /* Initial position on the top */
  margin-bottom: 12px;
}

#circle2 {
  transform: translateY(0); /* Initial position on the bottom */
  margin-top: 12px;
}

.circle.active {
    transform: translateY(20%); /* End position in the middle */
  }

#hero{
    height: 85%;
    padding-top: 30px;
}

/************* Mission Section ********************/

.mission_h3{
    font-size: 16px;
    color: var(--purple-primary);
}

/************* Vision Section ********************/

#vision_img{
    width: 302px;
    height: 232px;
    overflow: hidden;
    clip-path: inset(0 0 0 0 round 50px);
    z-index: 5;
    position: relative;
} 

.vision_img_container{
    position: relative;
}

#vision_rect1{
    width: 302px;
    height: 232px;
    border: 1px solid var(--yellow-primary);
    border-radius: 50px;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index:1;
}

/* #vision_rect2{
    top: -20px;
    left: -20px;
    z-index: 0;
} */

/************* Team Section ********************/
.team_container img{
    width: 300px;
}


/************* Contact Section ********************/
.contact_social-media ul li {
    list-style-type: none;
    display: inline-block;
}

.contact_social-media ul {
    margin: 0;
    padding: 0;
}

.contact_social-media a{
    font-size: 20px;
    color: white;
    width: 28px;
    height: 28px;
    background-color: var(--purple-primary);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-right: 12px;
}

.contact_link{
    color: var(--purple-light);
}

@media screen and (min-width: 800px) {
    .about{
        width: 90%;
        margin: auto;
    }

    #hero{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}