/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('/css/style.css');

.createPost {
    background-color: #F5F6F8;
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F5F6F8;
}

.createPost h1 {
    text-align: center;
}

.formCon {
    margin-left: 40px;
}

#postForm {
    padding-bottom: 80px;
}
/* #postForm :not(h2){
    margin-left: 1rem;
    margin-right: 1rem;
} */
#postForm h2 {
    color: white;
    background-color: #7952BF;
    padding: .5rem;
    padding-left: 2.5rem;
}

#postForm input {
    width: 94.5%;
    border-radius: 8px;
    height: 20px;
    margin-bottom: 1rem;
}

#postForm select {
    width: 96%;
    border-radius: 8px;
    height: 30px;
    margin-bottom: 1rem;
}

#postForm textarea{
    width: 94.3%;
    border-radius: 8px;
}

#postForm input[type="date"] {
    width: 95%;
    height: 30px;
}
#availbility {
    width: 95% !important;
}

.createPost button {
    /* display: inline-block; */
    width: 80%;
    height: 45px;
    margin-right: 10%;
    border-radius: 8px;
    background-color: #360B83;
    align-items: center;
    color: white;
    font-weight: bold;
    border: 1px solid var(--grey-middle-placeholdertext);
}

#discord {
    background-color:white;
    color: #360B83;
}

#postForm p {
    display: inline-block;
    width: 28%; 
    text-align: left;
    margin-right: 2%; 
    margin-bottom: 1rem;
}
#choose_interest, #choose_skill {
    width: 50%;
    display: inline-block;
}

.createPost input, textarea {
    border: 1px solid black ;

}

.mobilediv1, .mobileDiv2 {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 20px !important;
    margin: 0;
}

.mobilediv1 input {
    width: 90% !important;
}
.mobileDiv2 input ,select{
    width: 90% !important;
}
.mobilediv1 div, .mobileDiv2 div {
    margin: 0 !important;
}
#txtHours {
    width: 88% !important;
    height: 26px !important;
}

#postBtn {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    justify-items: center;
    margin-left: 20px;
}

#txtPreferredLanguage {
    width: 95% !important;
}

/* Interest and Skill pop up */
#option_interest {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

.header5{
    width: 100% !important;
    text-align: center !important;
}
#save_interests {
    width: 50%; /* Make the button take full width of its container */
    height: 40px;
    text-align: center;
    border: 1px solid var(--grey-middle-placeholdertext);
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--purple-dark);
    color: var(--white);
    cursor: pointer;
    margin-top: 20px; /* Add some top margin to separate it from the checkboxes */
    margin-right: 0;
}



/* Center the button text vertically and horizontally */
#save_interests::before {
    content: ""; /* Create an empty pseudo-element */
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjust for spacing */
}

#save_interests span {
    vertical-align: middle;
    display: inline-block;
}
fieldset {
    /* display: flex;
    flex-wrap: wrap; Allow items to wrap onto the next line */
    /* width: 50%; */
    gap: 10px;
    margin: auto;
    border: none;
}

/* Style each interest-input pair container within the two-column layout */
.interest-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    box-sizing: border-box; /* Include padding and border in the width and height of the elements */
    width: 100%; 
    border: 1px solid var(--grey-middle-placeholdertext);
    padding: 5px;
    margin-bottom: 0;
    border-radius: 10px;
    margin-left: 0;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}


.interest-container.selected {
    border: 1px solid var(--purple-dark);
    opacity: 0.9;
    color: var(--purple-light);
    font-weight: bold;
}


/* Style labels within the two-column layout */
fieldset label {
    display: block !important;
    margin-left: 5px;
    font-size: 12px !important;
    width: 100% !important;
}
input[type="checkbox"]{
    height: 15px !important;
    margin-right: 0;
    margin-left: auto;
}
/* Style inputs within the two-column layout */
fieldset input {
    padding: 5px;
}

#wrap_option_interest {
    background-color:var(--white);
    padding: 20px;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid var(--grey-middle-placeholdertext);
    width: 80%;
    /* Could be more or less, depending on screen size */
}

#wrap_skill {
    background-color:var(--white);
    padding: 20px;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid var(--grey-middle-placeholdertext);
    width: 80%;
    /* Could be more or less, depending on screen size */
}

#wrap_option_interest h3, #wrap_skill h3 {
    color: #4410a5;
}

.save-interest-button-sec {
    display: flex;
    align-items: center;
    justify-content: center;
}


#option_skill {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

.skillCon div {
    display: flex;
    border: 1px solid var(--grey-middle-placeholdertext);
    margin: 10px;
    border-radius: 10px;
    padding-top: 10px;
}

#save_skill {
    margin-right: 0;
    width: 50%;
}
@media screen and (min-width: 800px){
    /* Creating post */
    .createPost{
        margin-top: 0;
        font-size: 1.5rem;
    }
    .mobilediv1, .mobileDiv2 {
        display: block !important;
    }

    .mobilediv1 input {
        width: 55% !important;
    }
    .mobileDiv2 input ,select{
        width: 56% !important;
    }
    .mobileDiv2 input{
        width: 55.5% !important;
    }
    
    #txtHours {
        width: 55% !important;
    }

    #availbility {
        width: 56% !important;
    }

    #postForm {
        margin: 0 auto;
        width: 60%;
        padding-bottom: 100px;
    }
    
    #postForm label{
        display: inline-block !important;
        width: 28%; 
        text-align: left;
        margin-right: 2%; 
        margin-bottom: 1rem;
    }

    #postForm h2 {
        font-size: 1.7rem;
    }
    #postForm input {
        width: 55%;
        height: 30px;
        border-radius: 8px;
        margin-bottom: 1rem;
    }

    #postForm select {
        width: 55% !important;
    }

    #postForm textarea {
        width: 55%;
        border-radius: 8px;
        margin-bottom: 1rem;
    }

    #postForm input[type="date"] {
        display: inline-block;
        width: 55% !important;
        height: 30px;
        border-radius: 8px;
    }

    .createPost button {
        width: 70%;
    }

    #postBtn {
        margin-left: 0;
        margin-right: 30px;
    }
    
    #txtPreferredLanguage {
        width: 53% !important;
    }

    fieldset {
        /* justify-content: center;
        align-items: center; Align items in the center vertically */
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap onto the next line */
        /* width: 100%;
        gap: 10px; */
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    /* Style each interest-input pair container within the two-column layout */
    fieldset .interest-container {
        width: 40%; /* Set width to 20px */
        /* height: auto; Set height to 20px */
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    #wrap_option_interest {
        width: 60%;
        /* Could be more or less, depending on screen size */
    }

    #wrap_skill {
        width: 80%;
    }

    #wrap_skill h3 {
        font-size: 24px;
    }
    /* added by kim */
    #save_interests {
        width: 20%;
    }

    .skill-container {
        display: grid;
        grid-template-rows: 1fr auto ;
        box-sizing: border-box; /* Include padding and border in the width and height of the elements */
        width: 100%; 
        border: 1px solid var(--grey-middle-placeholdertext);
        padding: 5px;
        margin-bottom: 0;
        padding-right: 20px;
        border-radius: 10px;
        margin-left: 0;
        margin-right: auto;
        /* align-items: center;
        justify-content: center; */
    }

    .skillCon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 10px;
    }

    .skillCon div{
        border: 1px solid var(--grey-middle-placeholdertext);
        display: flex;
        padding-top: 10px;
        align-items: center;
        width: 100%;
        margin-right: 10px;
        border-radius: 10px;
    }
    #skillField {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: stretch; /* Let grid row height stretch automatically */ 
    }
    #save_skill {
        margin-right: 0;
        width: 40%;
    }
}