:root {
  --grey-text: var(--grey-middle-placeholdertext);
  --grey-border: var(--grey-light);
  --skill-background: var(--green-lighter);
  --card-background: var(--white);
  --primary-button: var(--purple-primary);
  --status-backgroud: var(--purple-primary);
  --secondary-button: var(--purple-light);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  /* max-width: 900px; */
}
main {
  padding: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.horizontal-inputs-explore {
  margin-left: 1rem !important;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

#find-opportunity-heading-explore {
  grid-row: 1;
  grid-column: span 2;
  text-align: left;
  margin-top: 40px;
}
#searchInput {
  grid-column: span 2;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("../images/icons/Search.svg");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 40px;
  background-size: 20px 20px;
}
.search-container {
  grid-column: 1/3;
}

select {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  background: var(--secondary-button);
  color: var(--card-background);
  text-align: center;
}

#interests {
  grid-column: 1/2;
  grid-row: 3/4;
}
#skills {
  grid-column: 2/3;
  grid-row: 3/4;
}
select,
#search,
#more-filters {
  font-size: 16px;
  font-weight: bold;
}

#search {
  width: 100%;
  grid-column: 1/3;
  padding: 14px;
  background: var(--primary-button);
  color: var(--card-background);
  margin-top: 0;
  margin-bottom: 0;
}
#more-filters {
  width: 100%;
  grid-column: 1/3;
  background-color: var(--card-background);
  border: 1px solid var(--primary-button);
  color: var(--primary-button);
  margin-top: 0;
}
button#more-filters:hover {
  color: var(--card-background);
  background-color: var(--primary-button);
}
button,
input {
  border-radius: 15px;
}
select#skills:hover,
select#interests:hover {
  background-color: var(--card-background);
  color: var(--secondary-button);
}
input#search:hover {
  background-color: var(--card-background);
  color: var(--primary-button);
}
#more-filters-pop-up-heading {
  color: var(--primary-button);
  text-align: center;
}
.heading-distance {
  padding-left: 30px;
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  z-index: 1;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
}
.card_icon {
  width: 14px;
}
#date,
#location {
  display: flex;
  gap: 8px;
  align-items: center;
}

.location-explore {
  margin-bottom: 12px;
}

/* Add styles for overlay/background when the modal is open */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.radio-button-and-label {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  width: fit-content;
  margin-left: 20px;
}
input[type="radio"] {
  width: fit-content;
  margin-right: 0;
  margin-left: auto;
}
#pop-up-close-button {
  margin-left: auto;
  margin-right: auto;
}

/* Card Settings */
.card {
  border: 1px solid var(--grey-light);
  border-radius: 15px;
  background-color: var(--white);
  padding: 16px;
  padding-top: 0;
  margin-bottom: 12px;
  width: 100%;
  transition: all 0.2s linear;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
}
.post-group {
  margin-top: 0;
  grid-column: 2/3;
  grid-row: 1/2;
}
 .organization-logo {
  /* margin-top: 3rem;
  margin-bottom: auto; */
  width: 120px;
  height: 120px;
  overflow: hidden;
  clip-path: inset(0 0 0 0 round 10px);
  margin-top: 20px;
  margin-bottom: auto;

} 

.post-text-content-explore h3 {
  font-size: 16px;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}
.grey-text {
  color: var(--grey-text);
}

div.radius-radio-buttons {
  display: none;
}

/* Initially hide the link */
.read-more-link {
  color: blue;
  cursor: pointer;
  display: none; 
}

/* Hide the additional text by default */
.additional-text {
  display: none;
}

/* DESKTOP VIEW STARTS HERE */
@media screen and (min-width: 800px) {
  button.more-filters-btn-mobile {
    display: none;
  }
  .horizontal-inputs-explore {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
  }
  .search-input-desktop {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  select#interests {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  select#skills {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  input#search {
    grid-column: 4/5;
    grid-row: 2/3;
  }

  #vertical-filter {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }


  .desktop-view-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  div#eventDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  #radio-label {
    font-size: 12px;
  }
}
