
@import url(style.css);

/* **********************************************
    Base Declarations
********************************************** */

/* Font Setting */
h1,
h2,
h3,
h4,
p {
    color: var(--black);
    text-align: left;
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 2.5rem; /* or 9vw or 36px */
    font-weight: 700;
    line-height: 1.3;
 }
 
h2 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}
 
/* Background Settings */
body {
    margin: 20px;
    background: var(--grey-lighter);
}

button:hover{
    background-color: var(--yellow-primary);
}

/* **********************************************
    Main Declarations
********************************************** */

/* Hero Section  */
#hero_title{
    margin-bottom: 24px;
    max-width: 90%;
}

#hero_description {
    font-size: 14px;
    line-height: 1.3;
    max-width: 80%;
}

p {
    font-size: 12px;
}

.hero_icon {
    height: 30px;
}

#hero_img{
    height: 132px;
    width: 240px;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.hero_img_container {
    position: relative;
    margin-top: 44px;
}

#hero_rect{
    height: 132px;
    width: 240px;
    background-color: var(--purple-primary); 
    border-radius: 20px; 
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: -1;

}

#explore_button {
    /* button text */
    text-align: left;
    font-family: "Poppins", sans-serif;
    line-height: 1.3;
    font-size: 14px;
    font-weight: 500;
    /* button shape */
    height: 68px;
    width: 170px ;
    border-radius: 35px;
    /* alignment */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position */
    position: absolute;
    top: 20px;
    left: 200px;
}

#explore-arrow{
    height: 16px;
    margin-left: 12px;
}

/* Client Section */
#client {
    margin-top: 72px;
    margin-bottom: 76px;
}

#client_h5 {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: var(--grey-light);
}

#carousel {
    display: flex;
    gap:10%;
    justify-content: center;
    align-items: center;
}

.carousel_logo{
    height: 50px;
}


/* Recommendation Section */
.border{
    border-bottom: 6px solid var(--purple-primary);
    width: 6rem;
    margin-top: 14px;
    margin-bottom: 20px;
}

/* Card Settings */
.card {
    border: 1px solid var(--grey-light); 
    border-radius: 15px;
    background-color: var(--white);
    padding:16px; 
    margin-bottom: 12px;
}

.card a{
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
}

.post_description_excerpt, 
.post_date,
.post_location {
    font-size: 12px;
    color: var(--grey-middle-placeholdertext);
}

.post_description_excerpt{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.card_icons{
    width: 14px;
}

/* #card_date_container{
    display: inline-block;
}

#card_location_container{
    display:flex;
    gap: 8px;
    align-items: center;
}

.post_date{
    margin-top: 4px;
    margin-bottom: 4px;
}

.post_location{
    margin-top: 4px;
    margin-bottom: 4px;
}

/* Button Settings */
.arrow_button_container {
    margin-top: 24px;
    margin-bottom: 84px;
    text-align: center;

}

.arrow_button{
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

/* **********************************************
    Desktop View
********************************************** */

/************* Hero Section ********************/
@media screen and (min-width: 1000px){
    main{
        width: 90%;
        margin: auto;
    }
    #hero_title{
        font-size: 66px;
        margin-bottom: 40px;
        line-height: 1.2;
    }

    .hero_icon {
        height: 50px;
    }

    #hero_description {
        font-size: 16px;
    }
    
    #hero_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 28px;
        align-items:start;
    }

    #hero_img{
        width: 660px;
        height: 526px;
        border-radius: 50px;
        overflow: hidden;
        object-fit: cover;
    }

    #hero_rect{
        width: 660px;
        height: 526px;
        border-radius: 50px; 
        position: absolute;
        top: 24px;
        left: 24px;
        z-index: -1;
    }
    
    .hero_title_container{
        grid-column: 1/2;
    }
    .hero_img_container{
        margin: 0;
        grid-column: 2/3;
        grid-row: 1/3;
    }

    #explore_button_container{
        grid-row: 2/3;
        margin: 0;
    }

    #explore_button_container a{
        text-decoration: none;
    }


    #explore_button {
        font-size: 18px;
        width: 305px;
        border-radius: 35px;
        gap: 12px;
        position:static;
    }
    #explore-arrow{
        height: 22px;
    }

    /*************** Client Section **************/
    #client {
        margin-top: 104px;
        margin-bottom: 92px;
    }

    #client_h5 {
        font-size: 20px;
    }

    /*** Latest Opportunity and Recommendation Section ***/
    .card {
        padding: 28px;
        margin: 0;
    }

    h2 {
        font-size: 32px;
    }

    .card a{
        font-size: 20px;
    }

    .post_description_excerpt,
    .post_date,
    .post_location{
        font-size: 14px;
    }

    #Latest,
    #h1Recomm {
        width: 90%;
        margin: auto;
    }

    .border{
        border-bottom: 8px solid var(--purple-primary);
        margin-bottom: 44px;
    }

    #containerOpp {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

}

