
/* Base Colour Settings: */

:root {

    --grey-text: #888;
}





/* Login and Index */
/* START */
body {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F6F8;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

img {
    width: 25%;
}

/* Set a style for all buttons */
button, input[type="submit"]{
    background-color: #4410A5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    display: block;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    opacity: 0.8;
}

#btnLogin {
    width: auto;
}

.container {
    padding: 16px;
}

span.psw {
    padding-top: 16px;
}

/* For Desktop { */
@media screen and (max-width: 800px){
    
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
   
}

/* END */

/* Volunteer and Organization Sign Up */
/* START */
input, label, img, span {
    display: block;
}

.wrap_welcome {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Hide the welcome popup in signup page */
#welcome {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* volunteer profile build */
#preference_background {
    display: none;
}

#option_interest {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

#wrap_option_interest {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#option_skill {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

#wrap_skill {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}






/* Organization profile build */
#option_service {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

#wrap_service {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* END */




/* Profile Pic */

.profile_pic {
    width: 9rem;
    clip-path: circle(40% at 50% 50%);
}

/* Organization Account */

#org_profile {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

#org_profile img {
    margin: auto;
}

#Profile_info h2 {
    margin-bottom: 0px;
}

#Profile_info h2+p{
 margin-top: 0;
 color: var(--grey-text);

}

#skillList_Org {
    margin-bottom: 1.5rem;
}

#skillList_Org p {
    display: inline-block;
    margin: .3rem;
    background-color: #B2DAD7;
    padding: 6px 15px;
    border-radius: 25px;
}

#edit_profile_button, #create-post-button{
    width: 80vw;
    max-width: 250px;
    margin: 10px auto ;
   
}

#edit_profile_button {
    background-color: #fff;
    border: 1px solid #888;   
}

#edit_profile_button a {
    color: #000;
}

.nav_tab {
    display: flex;
    flex-direction: row;
}

.nav_tab .item {
    text-align: center;
    flex-grow:  1;
    color: black;
    text-decoration: none;
    padding: 1rem;
    background-color: #F5F6F8;
    margin: 1rem;
    border-bottom: 1px solid #888;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#post-list div, #application-list div{
    border: 1px solid grey;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: #fff;
}

div.page {
    display: none;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0px;
}

#application-list .statusDiv {
    width: 80px;
    background-color: #f2efef;
    text-align: center;
}

#post-list h3+p {
    color: var(--grey-text);
}


/* END */

/* org applicant detail */

#section_decline_wrap {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

#decline_wrap {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#subWrapper_orgApplicantDetail {
    background-color: #fff;
    padding: 10px;
}

#workExperience {
    cursor: pointer;
    background-color: #dfe1e5;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #888;
    
}

#wrap_workExperience {
    display: none;
}

#professionalCertificate {
    cursor: pointer;
    background-color: #dfe1e5;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #888;
}

#wrap_professionalCertificate {
    display: none;
}

#applicantSkills {
    cursor: pointer;
    background-color: #dfe1e5;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #888;
}

#wrap_applicantSkills {
    display: none;
}

#appliedPosition {
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #dfe1e5;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #888;
}

#wrap_appliedPosition {
    display: none;
}

#total {
    border: 1px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

/* end */

/* org manage activity */
#volunteerTracking {
    display: none;
}

/*explore pop up application*/
.popup {
    position: fixed;
    top: 50%; /* Align the top edge of the popup with the vertical center of the viewport */
    left: 50%; /* Align the left edge of the popup with the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Center the popup by translating it */
    background: #fff;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Set the maximum width of the popup, adjust as needed */
  }

/* END */


/* QR CODE Popup */

#wrap_qrcode {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
  
}
#wrap_close_qrcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    padding: 10px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 50%;
    position: relative;
}

#qrcode img{
    
    width: 50vw;
    max-width: 200px;
    height: 50vw;
    max-height: 200px;
}

.imgcontainer {
    position: absolute;
    right: 10px;
    top:10px;
}

.close {
    font-size: 40px;
}

/* Creating post */
h1 {
    text-align: center;
}

#postForm {
    margin: 1rem;
}
#postForm h2 {
    color: white;
    background-color: #4410A5;
    padding: .5rem;
}

#postForm input, select {
    width: 95%;
    border-radius: 8px;
}

#postForm textarea{
    width: 94%;
}

button {
    display: inline-block;
    width: 35%;
    margin-right: 10%;
    border-radius: 8px;
}

#postForm p {
    display: inline-block;
    width: 28%; 
    text-align: left;
    margin-right: 2%; 
    margin-bottom: 1rem;
}
#choose_interest, #choose_skill {
    width: 55%;
}

/* explore_opportunity */
#eventDetails div {
    padding: 0 10px 10px 10px;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 300px;
    border: 1px solid grey;
    border-radius: 8px;
}

#searchInput {
    width: 90%;
}

#horizontal-inputs select {
    background-color: #4410A5;
    color: white;
    width: 90%;
    height: 35px;
    text-align: center;
}

#search {
    background-color: #4410A5;
    color: white;
    width: 90%;
    height: 35px;
    border-radius: 8px;
}
@media screen and (min-width: 1100px){
    /* Creating post */
    #postForm {
        margin: 0 auto;
        width: 60%;
    }
    
    #postForm label{
        display: inline-block;
        width: 28%; 
        text-align: left;
        margin-right: 2%; 
        margin-bottom: 1rem;
    }

    #postForm input,
    select {
        width: 55%;
        border-radius: 8px;
        margin-bottom: 1rem;
    }

    #postForm textarea {
        width: 54%;
        border-radius: 8px;
        margin-bottom: 1rem;
    }

    #postForm input[type="date"] {
        display: inline-block;
        width: 54%;
        border-radius: 8px;
    }

    #postForm h2 {
        color: white;
        background-color: #4410A5;
        padding: .5rem;
    }

    /* post_detail */
    .post_detail {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    #opportunity_detail {
        text-align: center; 
    }
    
    #opportunity_detail div {
        text-align: left;
        position: relative;
        left: 32%;
        margin-bottom: 3rem;
    }

    /* explore_opportunity */
    #eventDetails {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #horizontal-inputs {
        display: flex;
        align-items: center; 
        gap: 10px; 
      }
    #searchInput {
        width: 25%;
    }
    #horizontal-inputs select, #search {
        width: 20%;
    }
}

/* END */
