/* Login and Index */
/* START */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F6F8;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

img {
    width: 25%;
}

/* Set a style for all buttons */
button {
    background-color: #4410A5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    display: block;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    opacity: 0.8;
}

#btnLogin {
    width: auto;
}

.container {
    padding: 16px;
}

span.psw {
    padding-top: 16px;
}

/* For Desktop { */
@media screen and (max-width: 800px){
    
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
   
}

/* END */

/* Volunteer and Organization Sign Up */
/* START */
input, label, img, span {
    display: block;
}

.wrap_welcome {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Hide the welcome popup in signup page */
#welcome {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* volunteer profile build */
#preference_background {
    display: none;
}

#option_interest {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

#wrap_option_interest {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#option_skill {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

#wrap_skill {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


/* Organization profile build */
#option_service {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

#wrap_service {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* END */

/* Organization Account */

#org_profile {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

#edit_profile_button {
    background-color: #fff;
    border: 1px solid #888;
    
}

#edit_profile_button a {
    color: #000;
}

.nav_tab {
    display: flex;
    flex-direction: row;
}

.nav_tab .item {
    text-align: center;
    flex-grow:  1;
    color: black;
    text-decoration: none;
    padding: 1rem;
    background-color: #F5F6F8;
    margin: 1rem;
    border-bottom: 1px solid #888;
}

#post-list div, #application-list div{
    border: 1px solid grey;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
}

div.page {
    display: none;
}

select {
    width: 100%;
    padding: 5px;
    margin: 10px 0px;
}

.statusDiv {
    width: 80px;
    background-color: #fff;
    text-align: center;
}


/* END */

/* org applicant detail */

#section_decline_wrap {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

#decline_wrap {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#subWrapper_orgApplicantDetail {
    background-color: #fff;
    padding: 10px;
}

#workExperience {
    cursor: pointer;
    background-color: #dfe1e5;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #888;
    
}

#wrap_workExperience {
    display: none;
}

#professionalCertificate {
    cursor: pointer;
    background-color: #dfe1e5;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #888;
}

#wrap_professionalCertificate {
    display: none;
}

#applicantSkills {
    cursor: pointer;
    background-color: #dfe1e5;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #888;
}

#wrap_applicantSkills {
    display: none;
}

#appliedPosition {
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #dfe1e5;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #888;
}

#wrap_appliedPosition {
    display: none;
}

#total {
    border: 1px solid #888;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

/* end */

/* org manage activity */
#volunteerTracking {
    display: none;
}

/*explore pop up application*/
.popup {
    position: fixed;
    top: 50%; /* Align the top edge of the popup with the vertical center of the viewport */
    left: 50%; /* Align the left edge of the popup with the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Center the popup by translating it */
    background: #fff;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Set the maximum width of the popup, adjust as needed */
  }

/* END */


/* QR CODE Popup */

#wrap_qrcode {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
  
}
#wrap_close_qrcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    padding: 10px;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 50%;
    position: relative;
}

#qrcode img{
    
    width: 50vw;
    max-width: 200px;
    height: 50vw;
    max-height: 200px;
}

.imgcontainer {
    position: absolute;
    right: 10px;
    top:10px;
}

.close {
    font-size: 40px;
}

/* END */