/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Login and Index */
/*Color*/
:root {
    /*Primary Color Purple*/
    --purple-lighter: #7952BF;
    --purple-light: #5E31B1;
    --purple-primary: #4410A5;
    --purple-dark: #360B83;
    --purple-darker: #290766;

    /*Secondary Color Yellow*/
    --yellow-lighter: #FFD25E;
    --yellow-light: #FFC533;
    --yellow-primary: #F2AD00;
    --yellow-dark: #BF8900;

    /*Accent Color 1 Green*/
    --green-lighter: #B2DAD7;
    --green-light: #79B6B2;
    --green-primary: #4C948F;
    --green-dark: #589792;
    --green-darker: #196761;

    /*Accent Color 2 Red*/
    --red-lighter: #FDCED1;
    --red-light: #FCA8AC;
    --red-primary: #ED7A80;
    --red-dark: #D26E73;
    --red-darker: #A5292F;

    /*Neutral color*/
    --black: #212121;
    --white: #FFFFFF;
    --grey-lighter: #F5F6F8;
    --grey-medium: #D9D9D9;
    --grey-light: #8F8F8F;
    --grey-middle-placeholdertext: #6A6A6A;

}

/* START */
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--grey-lighter);
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: var(--purple-dark);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    display: block;
}

button:hover {
    opacity: 0.8;
}

#btnLogin {
    width: auto;
}

.container {
    padding: 16px;
}

span.psw {
    padding-top: 16px;
}

/* For Desktop { */
/* @media screen and (max-width: 800px) {} */
/* END */

/* Volunteer and Organization Sign Up */
/* START */
input,
label {
    display: block;
}

.wrap_welcome {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* Hide the welcome popup in signup page */
#welcome {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

/* volunteer profile build */
#preference_background {
    display: none;
}

#option_interest {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

#wrap_option_interest {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

#option_skill {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

#wrap_skill {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* Organization profile build */
#option_service {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
    overflow: auto;
}

#wrap_service {
    background-color: #fefefe;
    padding: 20px;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}




































/*****************************************************************************/
/*****************************************************************************/
/************************** Start of Kim's Part ******************************/
/*****************************************************************************/

/************************* Start of Mobile View ******************************/

/*****************************************************************************/
/******************************* Login Page **********************************/
/*****************************************************************************/
* {
    box-sizing: border-box;
}

.kim-htmllogin {
    background-color: #360B83;
}

.kim-bodylogin {
    font-family: "Poppins", sans-serif;
    background-color: #360B83;
    margin: 0;
}

.kim-wrapper {
    background-color: #360B83;
    width: auto;
    margin: 0;
    padding: 1rem;
    padding-bottom: 8rem;
}

.kim-addimage {
    display: none;
}

.kim-h2 {
    text-align: center;
    font-size: 28px;
    color: var(--grey-lighter);
}

.kim-webridge {
    color: #FFC107;
}

.kim-container-emailandpassword {
    color: var(--grey-lighter);
    font-size: 12px;
    padding: 0;
}

.kim-emailbox, .kim-passwordbox{
    width: 100% !important;
    padding: 15px !important;
    margin: 10px 0 20px 0 !important;
    display: inline-block;
    border: no;
    border-radius: 15px;
}

 .kim-submitbutton {
    background-color: #FFC107;
    color: #360B83;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100% !important;
    border-radius: 15px;
}

.kim-submitbutton:hover {
    opacity: 0.8;
}

.kim-container-donthaveacc p, .kim-container-emailandpassword p {
    text-align: center;
    color: var(--grey-lighter);
    font-size: 12px;
}

.kim-signuplink a {
    color: #FFC107;
    text-decoration: none;
}

/*****************************************************************************/
/******************************* Signup Page *********************************/
/*****************************************************************************/

.kim1-htmlsignup {
    background-color: var(--grey-lighter);
}

.kim1-bodysignup {
    font-family: "Poppins", sans-serif;
    background-color: var(--grey-lighter);
    margin: 0;
}

.kim1-wrapper {
    background-color: var(--grey-lighter);
    width: auto;
    margin: 0;
    padding: 1rem;
}

.kim1-addimage {
    display: none;
}

.kim1-welcome {
    display: none;
}

.kim1-heart2 {
    display: none;
}

.kim1-heartsvg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.kim1-heart1 {
    text-align: center;
}

.kim1-h2 {
    text-align: center;
    font-size: 28px;
    margin: 0;
}

.kim1-webridge {
    color: #360B83;
}

.kim1-h2-2 {
    text-align: center;
    font-size: 28px;
    margin-top: 0;
}

.kim1-signupform {
    font-size: 12px;
}

.kim1-fname, .kim1-lname, .kim1-email, .kim1-password, .kim1-cpass, .kim1-oname, .kim1-regnum {
    width: 100% !important;
    padding: 15px !important;
    margin: 10px 0 20px 0 !important;
    display: inline-block;
    border: no;
    border-radius: 15px;
}

.kim1-divcheckbox {
    display: flex;
    align-items: start;
}

.kim1-checkbox {
    width: 20px;
    height: 20px;
}

.kim1-checkboxlabel {
    margin-left: .5rem;
}

.kim1-link1, .kim1-link2 {
    color: #360B83;
}

.kim1-submitbutton {
    background-color: #360B83;
    color: var(--grey-lighter);
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
}

.kim1-submitbutton:hover {
    opacity: 0.8;
}

.kim1-haveacc {
    text-align: center;
    font-size: 12px;
}

.kim1-loginlink {
    color: #360B83;
    text-decoration: none;
}

/************************* End of Mobile View ********************************/

/************************* Start of Desktop View *****************************/
@media screen and (min-width: 800px) {

/*****************************************************************************/
/******************************* Login Page **********************************/
/*****************************************************************************/

    .kim-wrapper {
        width: auto;
        padding: 3rem;
        padding-bottom: 8rem;
    }
    
    .kim-addimage {
        display: block;
        position: relative;
    }

    .kim-h2 {
        text-align: left;
        font-size: 38px;
        margin-top: 0;
    }

    .kim-container-login {
        padding-left: 6rem;
        padding-top: 0;
    }

    .kim-container-emailandpassword, .kim-submitbutton {
        font-size: 16px;
    }

    .kim-container-donthaveacc p, .kim-container-emailandpassword p {
        font-size: 16px;
    }

    .kim-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1%;
    }

    .kim-addimage img {
        width: 100%;
        border-radius: 80px;
        position: absolute;
    }


    .kim-img2 {
        border: 1px solid #FFC107;
        position: absolute;
        left: 2rem;
        top: 1rem;
    }
    
    .kim-img3 {
        border: 1px solid #FFC107;
        position: absolute;
        left: 4rem;
        top: 3rem;
    }

/*****************************************************************************/
/******************************* Signup Page *********************************/
/*****************************************************************************/

    .kim1-wrapper {
        width: auto;
        padding: 3rem;
    }    

    .kim1-heartsvg {
        display: none;
    }

    .kim1-h2 {
        display: none;
    }

    .kim1-h2-2 {
        text-align: left;
        font-size: 38px;
    }

    .kim1-heart2 {
        display: inline-block;
    }

    .kim1-addimage {
        display: block;
        position: relative;
    }

    .kim1-container-signup {
        padding: 0 3rem;
    }

    .kim1-signupform, .kim1-submitbutton, .kim1-haveacc {
        font-size: 16px;
    }

    .kim1-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1%;
    }

    .kim1-addimage img {
        width: 100%;
        border-radius: 80px;
        position: absolute;
        /* max-height: 80%; */
    }

    .kim1-img1 {
        border: 3px solid #FFB549;
        position: absolute;
        left: 1rem;
        top: 1rem;
        /* max-height: 90%; */
    }

    .kim1-h2-3 {
        position: relative;
        top: 35rem;
        /* padding-top: 45rem; */
        text-align: center;
        font-size: 38px;
    }

    .kim1-webridge2 {
        color: #360B83;
    }
}

/************************* End of Desktop View *******************************/

/*****************************************************************************/
/*****************************************************************************/
/**************************** End of Kim's Part ******************************/
/*****************************************************************************/
