/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Login and Index */
/*Color*/
:root {
    /*Primary Color Purple*/
    --purple-lighter: #7952BF;
    --purple-light: #5E31B1;
    --purple-primary: #4410A5;
    --purple-dark: #360B83;
    --purple-darker: #290766;

    /*Secondary Color Yellow*/
    --yellow-lighter: #FFD25E;
    --yellow-light: #FFC533;
    --yellow-primary: #F2AD00;
    --yellow-dark: #BF8900;

    /*Accent Color 1 Green*/
    --green-lighter: #B2DAD7;
    --green-light: #79B6B2;
    --green-primary: #4C948F;
    --green-dark: #589792;
    --green-darker: #196761;

    /*Accent Color 2 Red*/
    --red-lighter: #FDCED1;
    --red-light: #FCA8AC;
    --red-primary: #ED7A80;
    --red-dark: #D26E73;
    --red-darker: #A5292F;

    /*Neutral color*/
    --black: #212121;
    --white: #FFFFFF;
    --grey-lighter: #F5F6F8;
    --grey-light: #8F8F8F;
    --grey-middle-placeholdertext: #6A6A6A;

}

/* START */
body {
    font-family: "Poppins", sans-serif;
    background-color: var(--grey-lighter);
}

/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: var(--purple-dark);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    display: block;
}

button:hover {
    opacity: 0.8;
}

#btnLogin {
    width: auto;
}

.container {
    padding: 16px;
}

span.psw {
    padding-top: 16px;
}

/* For Desktop { */
@media screen and (max-width: 800px) {}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {}

/* END */

