body {
    text-align: center;
}

select, input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;

}

div {
    display: grid;
}



#eventDetails{
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 15px;
    margin: 15px;
    text-align: justify;
}